.productIdPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Slider__info {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    gap: 100px;
}

@media (max-width: 1150px) {
    .Slider__info {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}